html {
  scroll-behavior: smooth;
}

/* gets rid of the scroll bar */
/* ::-webkit-scrollbar {
  display: none;
} */

body{
  background-color: rgb(47,79,79);
  text-align: center;
}
img {
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  box-shadow: 0px 0px 10px black;
}

button{
  padding:10px 15px;
  border:2px solid darkolivegreen;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color: #FFFFFF;
  transition: all 0.2s;
  background-color: #11371C;
}
button:hover{color:darkolivegreen;
border-color: #FFFFFF;}
button:active{border-color:black;}

input{
  margin-bottom: 20px;
}

#createMemeBtn{
  margin-bottom: 50px;
}